#TopBtn {
  background: #004AAD;
  color: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transform: translateY(10px);

  position: fixed;   
  bottom: 40px;
  right: 40px;
  font-size: 15px;

  padding: 20px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  z-index: 9999;
}

#TopBtn.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

#TopBtn:hover {
  transform: translateY(-4px);
}
