@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.footer-wrapper {
    padding: 80px 24px 40px;
    font-family: 'Ubuntu', sans-serif;
}

.footer-card {
    max-width: 1100px;
    margin: 0 auto;
    background: #e6e6e6;
    backdrop-filter: blur(12px);
    border-radius: 36px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-top: 50px;
}

.footer-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.footer-right img{
    max-width: 10%;
    margin-bottom: 0px;
} 

.footer-left h3 {
    font-size: 25px;
    color: #1f284e;
    margin-bottom: 12px;
    margin-top: 0px;
}

.footer-tagline {
    color: #000000;
    font-size: 0.95rem;
    max-width: 400px;
    margin-bottom: 16px;
}

.footer-email {
    color: #205aa6;
    font-weight: 500;
    text-decoration: none;
}

.footer-email:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
    gap: 64px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    margin-bottom: 12px;
}

.footer-right a {
    color: #3a5791;
    text-decoration: none;
    font-size: 0.95rem;
}

.footer-right a:hover {
    color: #38bdf8;
}

.footer-copy {
    text-align: center;
    margin-top: 32px;
    font-size: 0.8rem;
    color: #64748b;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .footer-wrapper {
        padding: 48px 16px 32px;
    }

    .footer-card {
        flex-direction: column;
        padding: 32px 24px;
        gap: 32px;
        border-radius: 24px;
    }

    .footer-left h3 {
        font-size: 1.4rem;
        text-align: center;
    }

    .footer-tagline {
        text-align: center;
        max-width: 100%;
        font-size: 0.9rem;
    }

    .footer-email {
        display: block;
        text-align: center;
    }

    .footer-right {
        flex-direction: column;
        gap: 24px;
        align-items: center;
        text-align: center;
    }

    .footer-right ul {
        padding: 0;
    }

    .footer-copy {
        font-size: 0.75rem;
        margin-top: 24px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .footer-card {
        flex-direction: column;
        padding: 40px;
        gap: 40px;
    }

    .footer-right {
        justify-content: space-between;
        gap: 48px;
    }

    .footer-left h3 {
        font-size: 1.6rem;
    }

    .footer-tagline {
        max-width: 100%;
        font-size: 0.95rem;
    }
}
