@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #F4F4F4;
    margin-left: 90px;
}

.introduction p {
    color: #004AAD;
    border: 2px solid #004AAD;
    border-radius: 30px;
    padding: 8px 16px; 
    display: inline-block; 
}

.introduction h2 {
    max-width: 600px;
    font-size: 30px;
}

.cta-btn {
    color: #ffffff;
    padding: 10px 10px 10px 12px; 
    border-radius: 400px;
    border: none;
    background-color: #004AAD;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cta-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(134, 179, 253, 0.3);
}

.standard-btn {
    color: #ffffff;
    padding: 10px 16px; 
    border-radius: 400px; 
    background-color: #004AAD;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}

.arrow-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: transform 0.2s ease, background 0.2s ease;
}

.cta-btn:hover, .standard-btn:hover {
    transform: translateX(3px);
    
}


