@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.nav__links li, a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}

.logo {
    width: 90px;
    height: auto;
}


header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    background-color: #f4f4f4;
}

/* .logo {
    position: absolute;
    left: 0;
    margin-left: 100px; 
    width: 250px;
    height: auto;
} */

.nav__links {
    list-style: none;
    display: flex; 
    justify-content: center; 
    margin: 0;
}

.nav__links li {
    display: inline-block;
    padding: 25px 35px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #5685c2;
}

.current-page {
    color: #004AAD;
    font-weight: bold;
}

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    z-index: 1000; 
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #edf0f1;
    margin: 3px 0;
}

@media screen and (max-width: 1024px) {

  header {
    position: relative;
    padding: 20px 24px;
    z-index: 1000;
  }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 75%;
    max-width: 320px;

    background-color: #004AAD;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 80px 24px;
    gap: 24px;

    transform: translateX(-100%);
    transition: transform 0.35s ease;
    z-index: 999;
    }

    .nav__links.show {
    transform: translateX(0);
    }

    .nav__links li {
    width: 100%;
    }

    .nav__links a {
    font-size: 1.1rem;
    display: block;
    width: 100%;
    color: #f4f4f4;
    }

    .hamburger {
    position: fixed;
    top: 20px;
    right: 24px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;

    z-index: 1002; 
    }


  .hamburger div {
    width: 28px;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease;
  }

  .hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 998;
}

.nav-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

}
